@model CrudPrueba.Models.Cliente
@{
    ViewData["Title"] = "Creat new client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h3> Creat new client</h3>
        </div>
      
    </div>
   
    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="control-label"></label>
                    <input asp-for="FechaNacimiento" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EstadoCivil" class="control-label"></label>
                    <input asp-for="EstadoCivil" class="form-control" />
                    <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>

                <div class="form-group">
                   
                    <input type="submit" value="Creat new Client" class="btn btn-primary" />
                </div>

            </form>

        </div>
    </div>
</div>


@section Scripts{ 

@{<partial name="_ValidationScriptsPartial" />}

}
